.transbg{
    
    background: linear-gradient(-45deg, #fe71052d, #fe710581)
}
.trans{
    
    background: linear-gradient(-45deg, #0328702d, #03287081)
}
.z-1000{
    z-index: 1500;
}
.errorbackground{
    /* background: linear-gradient(-45deg, #03277007, #0327705b), url("/src/resources/seafood.jpg"); */
    background-size: cover;
    background-position: center;
}


.carousel-1{
    background:linear-gradient(90deg,#000,rgba(0,0,0,.6),transparent),url('../resources/old.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-2{
    background:linear-gradient(90deg,#fff,hsla(0,0%,100%,.4),transparent), url('../resources/boy.jpg');
    background-size: cover;
    background-position: center;
}
.carousel-3{
    background: url('../resources/fraud.jpg');
    background-size: cover;
    background-position: center;
}

.flex1{
    display: flex;
}
.img1{
    height: 200px;
    width: 200px;
}